body {
    background-color: #3745c2;
    /* margin: 200px 40%; */
}

#about {
    background-color: #283392;
}

#search-bar {
    display:flex; 
    justify-content: space-between;
}
/* .search-history {
    background-color: #283392;
} */
#search-bar h1 {
    margin-right: 30px;
}
#lastTradingDay{
    font-size: smaller;
}

#symbol-results-header{
    margin-right: 100px;
}
p {
    color: white;
}
h1 {
    color: white;
}
input {
    border-radius: 20px 0 0 20px;
}
button {
    border-radius: 0 20px 20px 0;;
}

#crypto-results-header {
    margin-right: 100px;
}