body {
    background-color: #3745c2;

}
header {
    background-color: #1b225c;
    font-family: Gruppo;
    font-weight: 700;

}

#about {
    color: white;
    background-color: #283392;

}

#search-bar {
    display:flex; 
    justify-content: space-between;
}

#search-bar h1 {
    margin-right: 20px;
}

p, h1, h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    font-family: Gruppo;
    font-weight: 500;
    
}
input {
    border-radius: 20px 0 0 20px;
}
button {
    border-radius: 0 20px 20px 0;;
} 

.hide {
    display: none;
}